@font-face {
    font-family: CAVIARDREAMS_BOLD;
    src: url('assets/fonts/CAVIARDREAMS_BOLD.TTF');
}
@font-face {
    font-family: CAVIARDREAMS_BOLDITALIC;
    src: url('assets/fonts/CAVIARDREAMS_BOLDITALIC.TTF');
}
@font-face {
    font-family: CAVIARDREAMS_ITALIC;
    src: url('assets/fonts/CAVIARDREAMS_ITALIC.TTF');
}
@font-face {
    font-family: CAVIARDREAMS;
    src: url('assets/fonts/CAVIARDREAMS.TTF');
}