#footer {
	background-color: #212429;
	padding-top: 60px;
	padding-bottom: 30px;
	color: #fff;
	margin-top: 30px;
}
#copyright {
	background-color: #191c1e;
	color: #737576;
	text-transform: uppercase;
	font-size: 12px;
	padding-top: 15px;
}